/* NavigationBar.css */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8eadac;
    padding: 10px;
    padding-bottom: 20px; /* Add this line */
    z-index: 1000;
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: rgb(148, 114, 114); /* opaque */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #b98787;
  }