.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 0;
  }
  
  .buttonContainer {
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 165, 0, 0.5);
  }
  
  .imageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100; /* Full height */
    background-size: cover;
  }
  
  .touchableButton, .logoutButton {
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(95, 158, 160, 0.5); /* semi-transparent */
    color: #000;
    
    
  }
  
  .logoutButton {
    margin-top: 180px;
    /* background-color: #FF5733; */
    opacity: 0.7;
    background-color: rgba(255, 87, 51, 0.5); /* semi-transparent */
  }

  .touchableButton:hover, .logoutButton:hover {
    /* Add your hover styles here. For example: */
    opacity: 1;
    background-color: rgba(95, 158, 160, 0.8); /* less transparent */
  }
  
  .logoutButton:hover {
    background-color: rgba(255, 87, 51, 0.8); /* less transparent */
  }
  
  .activityIndicator {
    text-align: center;
    color: #841584;
    font-size: 20px;
  }
  